* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, serif, sans-serif;
}



/*Header*/

header {
    background-image: linear-gradient(rgba(0, 133, 222, 0.151), rgba(0, 133, 222, 0.151)), url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 120vh;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.logo {
    width: 250px;
}

.navlinks {
    text-align: right;
    flex: 1;
}

.navlinks a {
    text-decoration: none;
    color: #fff;
    padding: 20px 15px;
    display: inline-block;
    font-size: 18px;
}

.navlinks a::after {
    content: '';
    width: 0;
    height: 5px;
    display: block;
    background-color: rgb(223, 27, 27);
    transition: 0.3s;
    margin-top: 10px;
}

.navlinks a:hover::after {
    width: 100%;
}

.navlinks .active::after{
    content: '';
    width: 100%;
    height: 5px;
    display: block;
    background-color: rgb(223, 27, 27);
    margin-top: 10px;
}

.navlinks .active:hover::after{
    width: 0;
    transition: 0.3s;
}

.nav-open-btn {
    color: white;
    display: block;
    font-size: 40px;
    cursor: pointer;
    display: none;
    font-weight: bolder;
}

.nav-close-btn {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 35px;
    color: white;
    font-size: 42px;
    font-weight: bolder;
    cursor: pointer;
    display: none;
}

.nav-open-btn:hover {
    color: #f44336;
}

.nav-close-btn:hover {
    color: black;
}

.modal-container{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    padding: 40px 0;
}

.modal-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop{
    from {top:-300px; opacity: 0}
    to {top:0; opacity: 1}
}

.form-close-btn{
    font-size: 38px;
    font-weight: bolder;
    cursor: pointer;
    float: right;
}

.form-close-btn:hover,
.form-close-btn:focus{
    color: #000;
    cursor: pointer;
}

.modal-header{
    color: black;
    background-color: red;
    padding: 20px 16px;
}

.modal-header h1{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.modal-body {
    width: 80%;
    margin: 0 auto;
    padding: 16px 0 16px 0;
}

.mail_text {
    width: 100%;
    padding: 20px 30px;
    margin-top: 20px;
    border-radius: 5px;
    border: 0px;
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.226);
    font-size: 16px;
}


.message-bt {
    color: #0e0e0e;
    width: 100%;
    font-size: 18px;
    padding: 55px 15px 15px 15px;
    border: 0px;
    height: 167px;
    margin-top: 30px;
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.226);
}


.modal-footer{
    background-color: red;
    padding: 2px 16px;
}

.send_bt {
    width: 150px;
    float: left;
    margin-top: 40px;
}

.send_bt a {
    text-decoration: none;
    width: 100%;
    float: left;
    background-color: #13a25d;
    color: #ffffff;
    text-align: center;
    padding: 14px 0px;
    font-size: 18px;
}

.send_bt a:hover {
    background-color: #ffffff;
    color: #000;
}

/*End of Header*/





/*Responsive header*/

@media screen and (max-width: 750px) {
    .logo {
        width: 225px;
    }

    nav {
        padding: 30px 15px;
    }

    .wrapper {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 120vh;
        display: none;
    }

    .navlinks {
        text-align: left;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #f44336;
        width: 60%;
        height: 120vh;
        display: none;
    }

    .navlinks a {
        display: block;
        padding: 20px 30px;
        text-align: center;
    }

    .navlinks a::after {
        display: none;
    }

    .navlinks a:hover {
        color: red;
        background: white;
        transition: 0.2s;
    }

    .nav-open-btn {
        display: block;
    }

    .nav-close-btn {
        display: inline-block;
    }

    .navlinks .active::after{
        display: none;
    }

    .navlinks .active{
        background-color: white;
        color: red;
    }
}

/*End of Responsive header*/




/*Header's Textboxt*/

.textbox {
    padding: 60px 40px;
    background-color: rgba(0, 133, 222, 0.151);
    width: 40%;
    color: white;
    margin-left: 10%;
    margin-top: 5%;
}

.textbox h1 {
    font-size: 60px;
}

.textbox p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 23px;
}

.textbox a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 15px 30px;
    margin-top: 30px;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
}

.textbox a:hover {
    background-color: #f44336;
    border: 1px solid #f44336;
    transition: 0.7s;
}

/*End of Header's Textboxt*/




/* Responsive header's text box*/
@media screen and (max-width: 850px) {
    .textbox {
        margin-top: 30%;
        width: 50%;
    }
}

@media screen and (max-width: 750px) {
    .textbox h1 {
        font-size: 35px;
    }

    .textbox p {
        font-size: 15px;
        margin: 0;
        margin: 10px 0;
    }

    .textbox {
        width: 100%;
        text-align: center;
        background-color: transparent;
        margin-left: 0;
        margin-top: 55%;
    }

    .textbox a {
        margin: 0;
    }
}

/*End of Responsive header's text box*/




/* Perks section*/

.perks {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}

.perks>h1 {
    font-size: 36px;
    font-weight: 500;
}

.perks>h1::after {
    content: "";
    width: 10%;
    padding: 1px 3px;
    height: 4px;
    background-color: red;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 0 10px;
    box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.226);
}

.col .img-container {
    width: 65%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
}

.img-container img {
    width: 100%;
}

.img-container-2 img {
    width: 100%;
}

.img-container-2 {
    width: 45%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
}

.img-container-3 img {
    width: 100%;
}

.img-container-3 {
    width: 55%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
}

.col h3 {
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.col p {
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 5%;
    padding: 15px;
}

/*End of Perks section*/




/* Responsive coloumn for perks */

@media screen and (width: 810px) {
    .col {
        padding: 25px;
    }

    .col p {
        display: none;
    }
}


@media screen and (max-width:750px) {
    .perks {
        padding-top: 50px;
        margin-bottom: 15%;
    }

    .perks h1 {
        margin-bottom: 10%;
    }

    .perks h1::after,
    .about-us h1::after {
        width: 20%;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .col {
        width: 100%;
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.205);
        padding: 40px 10px;
    }

    .col h3 {
        margin: 0;
        font-size: 22px;
    }

    .col p {
        margin: 0;
        display: none;
    }

    .col .img-container {
        margin-top: 0;
        margin-bottom: 25px;
    }

    .img-container img {
        width: 70%;
    }

    .img-container-2 {
        margin-top: 0;
        margin-bottom: 25px;
    }

    .img-container-2 img {
        width: 65%;
    }

    .img-container-3 img {
        width: 55%;
    }

    .img-container-3 {
        margin-top: 0;
        margin-bottom: 8%;
    }

}

/*End of Responsive coloumn for perks */





/*About us section*/

.benefits {
    width: 100%;
    display: grid;
    margin: auto;
    place-items: center;
}

.benefits>h1 {
    font-size: 36px;
    font-weight: 500;
}

.benefits>h1::after {
    content: "";
    width: 10%;
    padding: 1px 20px;
    height: 4px;
    background-color: red;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 10px;
}

.ben-row {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
}

.card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, red 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
}

.card h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
}

.card p {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

.icon-wrapper {
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 4em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

.card:hover {
    background-position: 0 100%;
}

.card:hover .icon-wrapper {
    background-color: #ffffff;
    color: red;
}

.card:hover h3 {
    color: #ffffff;
}

.card:hover p {
    color: #f0f0f0;
}


@media screen and (max-width:750px) {
    .ben-row {
        margin-top: 10%;
    }

}

@media screen and (min-width: 768px) {
    section {
        padding: 0 2em;
    }

    .column {
        flex: 0 50%;
        max-width: 50%;
    }
}

@media screen and (min-width: 992px) {
    section {
        padding: 1em 3em;
    }

    .column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}




.testimonial {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.testimonial>h1 {
    font-size: 36px;
    font-weight: 500;
}

.testimonial>h1::after {
    content: "";
    width: 10%;
    padding: 1px 20px;
    height: 4px;
    background-color: red;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 30px;
}

.testimonial-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}


.testimonial-container {
    border-radius: 15px;
    width: 90%;
    margin: 0 auto;
    padding: 30px 50px;
    position: relative;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.205);
    margin-top: 5%;
    margin-bottom: 5%;
}

.fa-quote {
    color: rgba(255, 255, 255, 0.3);
    font-size: 28px;
    position: absolute;
    top: 70px;
}

.fa-quote-left {
    left: 40px;
}

.fa-quote-right {
    right: 40px;
}

.testimonial {
    line-height: 28px;
    text-align: center;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.user .user-image {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.user .user-details {
    margin-left: 10px;
}

.user .username {
    margin: 0;
}

.user .role {
    font-weight: normal;
    margin: 10px 0;
}

.progress-bar {
    background-color: red;
    height: 2px;
    width: 100%;
    animation: grow 3.5s linear infinite;
    transform-origin: left;
    margin: 10px 0 20px 0;
}

@keyframes grow {
    0% {
        transform: scaleX(0);
    }
}

@media (max-width: 768px) {
    .testimonial {
        margin-top: 15%;
    }

    .testimonial-container {
        padding: 20px 30px;
        margin-top: 10%;
    }

    .fa-quote {
        display: none;
    }
}






.footer-distributed {
    background-color: #333333;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 10%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}



.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: white;
    text-decoration: none;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgba(235, 39, 39, 0.623);
    border-radius: 100px;
    color: white;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer-logo{
    width: 50%; 
    margin-bottom: 5px;
}

/* Responsive footer queries */

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-logo{
        width: 100%; 
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}
