* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-image: linear-gradient(rgba(0, 133, 222, 0.151), rgba(0, 133, 222, 0.151)), url(img/hero.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 120vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.logo {
    width: 250px;
}

.navlinks {
    text-align: right;
    flex: 1;
}

.navlinks a {
    text-decoration: none;
    color: #fff;
    padding: 20px 15px;
    display: inline-block;
    font-size: 18px;
}

.navlinks a::after {
    content: '';
    width: 0;
    height: 5px;
    display: block;
    background-color: rgb(223, 27, 27);
    transition: 0.3s;
    margin-top: 10px;
}

.navlinks a:hover::after {
    width: 100%;
    
}

.nav-open-btn {
    color: white;
    display: block;
    font-size: 40px;
    cursor: pointer;
    display: none;
    font-weight: bolder;
}

.nav-close-btn {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 35px;
    color: white;
    font-size: 22px;
    font-weight: bolder;
    cursor: pointer;
    display: none;
}

.nav-open-btn:hover {
    color: #f44336;
}


.nav-close-btn:hover {
    color: black;
}

/* Responsive Nav bar*/
@media screen and (max-width: 850px) {
    nav {
        padding: 30px 15px;
    }

    .navlinks {
        text-align: left;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #f44336;
        width: 60%;
        height: 120vh;
        display: none;
    }

    .navlinks a {
        display: block;
        padding: 20px 30px;
        text-align: center;
    }

    .navlinks a::after {
        display: none;
    }

    .navlinks a:hover {
        color: black;
        background: white;
        transition: 0.5s;
    }

    .nav-open-btn {
        display: block;
    }

    .nav-close-btn {
        display: inline-block;
    }
}

.textbox {
    padding: 60px 40px;
    background-color: rgba(0, 133, 222, 0.151);
    width: 40%;
    color: white;
    margin-left: 10%;
    margin-top: 5%;
}

.textbox h1 {
    font-size: 60px;
}

.textbox p {
    margin-top: 15px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 23px;
}

.textbox a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 15px 30px;
    margin-top: 50px;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
}

.textbox a:hover {
    background-color: #f44336;
    border: 1px solid #f44336;
    transition: 0.7s;
}

/* Responsive header text box*/
@media screen and (max-width: 850px){
    .textbox{
        margin-top: 30%;
        width: 50%;
    }
}

@media screen and (max-width: 750px) {
    .textbox h1 {
        font-size: 35px;
    }

    .textbox p {
        font-size: 15px;
        margin: 0;
        margin: 10px 0;
    }

    .textbox {
        width: 100%;
        text-align: center;
        background-color: transparent;
        margin-left: 0;
        margin-top: 55%;
    }

    .textbox a{
        margin: 0;
    }
}